@import "styles/mixin/theme";

$themes: (light: (),
    dark: (),
);

.account-predictor-rewards-row {
    @media (max-width: 750px) {
        .ui-collapse {
            width: 20px;
        }
    }

    height: 90px;

    &.ui-table-row {
        border-bottom: 0;
    }

    &.border-bottom-row {

        @media (max-width: 750px) {


            .ui-table-cell:last-child {
                border-radius: 0 0 0 0 !important;
                -webkit-border-radius: 0 0 0 0 !important;
                -moz-border-radius: 0 0 0 0 !important;
                -ms-border-radius: 0 0 0 0 !important;
                -o-border-radius: 0 0 0 0 !important;
            }
        }

        @media (min-width: 750px) {
            .ui-table-cell:first-child {
                border-radius: 16px 0 0 0 !important;
                -webkit-border-radius: 16px 0 0 0 !important;
                -moz-border-radius: 16px 0 0 0 !important;
                -ms-border-radius: 16px 0 0 0 !important;
                -o-border-radius: 16px 0 0 0 !important;
            }

            .ui-table-cell:last-child {
                border-radius: 0 16px 0 0 !important;
                -webkit-border-radius: 0 16px 0 0 !important;
                -moz-border-radius: 0 16px 0 0 !important;
                -ms-border-radius: 0 16px 0 0 !important;
                -o-border-radius: 0 16px 0 0 !important;
            }
        }



    }

    .ui-table-cell {
        &:first-child {
            >div {
                margin-left: 20px;
            }
        }
    }

    &-title {
        display: flex;
        align-items: center;
        color: var(--box-title-color);
        padding: 25px 0;

        .pair-coin {
            display: flex;
        }

        // h1 {
        //     padding: 0 10px;
        // }
    }

    &-action {
        display: flex;
        // justify-content: center;

        &-claim {
            display: flex;
            justify-content: center;

            button {
                width: 130px !important;
                border-radius: 1.6em;
                -webkit-border-radius: 1.6em;
                -moz-border-radius: 1.6em;
                -ms-border-radius: 1.6em;
                -o-border-radius: 1.6em;
            }
        }

        &-status {
            display: flex;
            justify-content: center;
            margin: auto;
            width: 130px !important;
            border-radius: 1.6em;
            -webkit-border-radius: 1.6em;
            -moz-border-radius: 1.6em;
            -ms-border-radius: 1.6em;
            -o-border-radius: 1.6em;

            &.ui-label {
                width: 130px !important;
                padding: 8px !important;
                font-size: 15px;
                margin: 0;
            }
        }
    }

    .ui-currency {
        span {
            .ui-currency-after-unit {
                font-size: 12px;
                display: block;
            }
        }
    }

    .ui-timer {
        * {
            font-size: 16px;
        }
    }

    .ui-collapse {
        cursor: pointer;
        margin-right: 15px;

        &-expand {
            .ui-icon {
                img {
                    background-color: #363a3f;
                    border-radius: 50%;
                    height: 35px !important;
                    transition: transform 0.5s linear;
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                    transition: -webkit-transform 0.5s linear;
                    transition: transform 0.5s linear, -webkit-transform 0.5s linear;
                }
            }
        }

        &-close {
            .ui-icon {
                img {
                    height: 35px !important;
                    transform: rotate(0deg);
                    transition: transform 0.5s linear;
                    transition: transform 0.5s linear, -webkit-transform 0.5s linear;
                }
            }
        }
    }
}