@import "styles/mixin/theme";

$themes: (light: (layout-bg-color: #121212,
        layout-color: var(--color-gray-1),
    ),
    dark: (layout-bg-color: #121212,
        layout-color: var(--color-white),
    ),
);

.layout {

    // @include themify() {
    //     background-color: themed("layout-bg-color");
    // }
    background-color: #1f2641f0;
    display: flex;
    flex-direction: column;

    @include themify() {
        color: themed("layout-color");
    }

    height: 100vh;
    overflow-y: auto;

    &-main {


        &-content {
            background-image: url("../../assets/images/Bg.svg");

            background-size: cover;
            background-repeat: no-repeat;

            min-height: calc(100vh - 145px);
            padding: 0 25px;

            @media (min-width: 1200px) {
                // max-width: 80%;
                margin: auto;
            }
        }
    }
}