*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

ol,
ul,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

.ui-modal-main {
    min-height: 250px;
}

.loader {
    display: flex;
    justify-content: center;
    height: 300px;

    img {
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}

.ui-table {
    border: 0 !important;
}

.ui-label {
    border-width: 2px !important;
}

.ui-confirm-modal-footer button {
    padding: unset !important;
}
.unsecured-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}
.ui-tooltip {
    img {
        margin-bottom: -3px;
    }
}
input:read-only {
    cursor: not-allowed !important;
}
