@import "styles/mixin/theme";

$themes: (
    light: (
        icon-bg-color: var(--color-gray-2),
    ),
    dark: (
        icon-bg-color: var(--color-white),
    ),
);

.ui-icon {
    padding: 5px;
}
