.ui-progress-bar {
    &-value {
        color: white;
        font-size: 2em;
        text-align: right;
    }

    &-container {
        height: 8px;
        width: 100%;
        border-radius: 3.125em;

        &-size {
            height: 100%;
            border-radius: inherit;
            transition: width 0.5s ease-in;
            -webkit-transition: width 0.5s ease-in;
            -moz-transition: width 0.5s ease-in;
            -ms-transition: width 0.5s ease-in;
            -o-transition: width 0.5s ease-in;
        }
    }

    &-label {
        color: #979797;
        padding-top: 0.4em;
        text-align: center;
    }
}
