@import "styles/mixin/theme";

$themes: (light: (header-bg-color: var(--color-white),
    ),
    dark: (header-bg-color: var(--color-black),
    ),
);

.header {
    display: flex;
    justify-content: space-between;

    @media (max-width: 620px) {
        justify-content: space-around !important;
    }

    height: 45px;
    color: #979797;
    padding: 20px 60px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #2c324c;


    // background-color: #1f2641f0;
    // background-image: url("../../assets/images/Bg.svg");
    // background-size: cover;
    // background-repeat: no-repeat;
    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 24px;
    }

    >div {
        margin: 0 5px;
    }
}