.ui-table-row {
    border-bottom: 1px solid rgba(182, 182, 180, 0.1);
    -webkit-background-clip: padding-box;

    /* for Safari */
    background-clip: padding-box;

    /* for IE9+, Firefox 4+, Opera, Chrome */
    &:last-child {
        border: none;
    }
}
