.ui-radio-button {
    margin: 0.187em;

    input {
        opacity: 0;
        position: fixed;
        width: 0;
    }

    label {
        color: var(--totem-ui-component-color-gray-1);
        text-align: center;
        display: inline-block;
        padding: 0.5em 0;
        background-color: #55585e;
        font-family: sans-serif, Arial;
        font-size: 0.75em;
        border-radius: 0.666em;
        width: 5em;
    }

    input:checked + label {
        background-color: #ddd;
    }
}
